body{
    background-color: #444;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    color:red;
}
.container{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr) 40px;
    grid-template-areas: 
    "top top top top top top top top"
    "sb main main main main main main main"
    "sb main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    grid-gap: 15px;
}

    .box{
        border: 1px thin rgb(134, 134, 134);
        background-color: wheat;
    }
    .header{
        grid-area: top;
        text-align: center;
    }
    .sidebar{
        grid-area: sb;
    }
    .content{
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border: 1px solid yellow;
        justify-content: space-around;
        grid-gap: 10px;
    }
        #spring{
            background-image: url(images/Spring.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        #summer{
            background-image: url(images/Summer.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        #fall{
            background-image: url(images/Fall.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        #winter{
            background-image: url(images/Winter.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }

    .footer{
        grid-area: ft;
    }